#backend
backend/target
# Editor-based HTTP Client requests
backend/output/
backend/.env
backend/example.json
backend/dist
docker-compose.yaml
backend/certs
frontend/Snode_modules
frontend/bak
# Output
frontend/.output
frontend/.vercel
frontend/.svelte-kit
frontend/build

# OS
.DS_Store
Thumbs.db
/.idea
# Env
.env
.env.*
!.env.example
!.env.test

# Vite
*/vite.config.js.timestamp-*
*/vite.config.ts.timestamp-*
/output
backend/example for db.json
o.json
git-filter-repo
backend/rustypipe_cache.json
