@import "tailwindcss";

html,
body {
    overscroll-behavior: none;
    min-height: 100vh;
    background-color: black; /* Change to your desired background color */
}

:root {
    --color-primary: var(--theme-color-primary);
    --color-background: var(--theme-color-background);
}

@layer base {
    :root {
        --theme-color-primary: #4352ce;
        --theme-color-background: #595b62;
    }

    [data-theme="death-dark"] {
        --theme-color-primary: #bd2e43;
        --theme-color-background: #1011014;
        --theme-color-text: #fad4e0;
        --theme-color-card-bg: #1c1a1d;
        --theme-color-button-bg: #4f4a52;
        --theme-color-button-secondary: #a6884e;
        --theme-color-warning: #9a2f3f;
        --theme-color-info: #0000ff;
        --theme-color-error: #ff0000;
        --theme-color-success: #00ff00;
        --theme-color-row-bg-1: #151417;
        --theme-color-row-bg-2: #1d181f;
    }

    [data-theme="bird"] {
        --theme-color-primary: #4352ce;
        --theme-color-background: #0a0a0c;
        --theme-color-text: #e5e6eb;
        --theme-color-card-bg: #1b1d23;
        --theme-color-button-bg: #5c4b8c;
        --theme-color-button-secondary: #2e3a87;
        --theme-color-warning: #b44a64;
        --theme-color-error: #ff0000;
        --theme-color-info: #0000ff;
        --theme-color-success: #00ff00;
        --theme-color-row-bg-1: #181a20;
        --theme-color-row-bg-2: #1f2230;
    }
}

@layer utilities {
    .bg-warning {
        background-color: var(--theme-color-warning);
    }

    .bg-success {
        background-color: var(--theme-color-success);
    }

    .bg-info {
        background-color: var(--theme-color-info);
    }

    .bg-error {
        background-color: var(--theme-color-error);
    }

    .bg-primary {
        background-color: var(--theme-color-primary);
    }

    .global-bg-color {
        background-color: var(--theme-color-background);
    }

    .text-primary {
        color: var(--theme-color-text);
    }

    .card-bg {
        background-color: var(--theme-color-card-bg);
    }

    .border-primary {
        border-width: medium;
        border-color: var(--theme-color-primary);
    }

    .button-bg {
        background-color: var(--theme-color-button-bg);
    }

    tr:nth-child(even) {
        background-color: var(--theme-color-row-bg-1);
    }

    tr:nth-child(odd) {
        background-color: var(--theme-color-row-bg-2);
    }

    .svg-primary {
        fill: var(--theme-color-primary);
    }
}
